.templateContainer{
    position : relative;
}

.sliderItem { 
    width: 245px;
    min-height: 610px;
    background : #13171A;
    border: 4px solid rgba(255, 0, 0, 0);
    margin-right :20px;
    border-radius: 20px;
    overflow: hidden;
    color: white;
    transition : all 400ms;
}   

.sliderItem:hover {
    border: 4px solid #0399FA;
}

.imageContainer { 
    height: 291px;
}

.imageContainer img {
    height: 100%;
    width :100%;
    object-fit: cover;
    opacity: 0.7;
}

.descriptionContainer{
    padding: 22px 15px;
}

.descriptionContainer h3{
    text-transform: uppercase;
}

.descriptionContainer a:link,
.descriptionContainer a:visited{
    color: white;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
}

.descriptionContainer a:hover,
.descriptionContainer a:active{
    text-decoration: underline;
}

.ratingContainer{
    margin-bottom: 15px;
}

.ratingContainer p img{
    height: 16px;
    object-fit: contain;
    margin-right: 10px;
}

.button{
    cursor:pointer;
    color:white;
    font-size :18px;
}

.watchListButton{
    display:block;
    border: none;
    border-radius: 30px;
    line-height: 55px;
    width: 212px;
    background: rgb(2,0,36);
    background: linear-gradient(93deg, rgba(2,0,36,1) 0%, rgba(3,152,249,1) 0%, rgba(54,8,176,1) 100%);
    margin-bottom: 20px;
}

.watchTrailerButton{
    border: none;
    background: none;
}

.watchTrailerButton img{
    height: 25px;
    margin-right: 10px;
    border: 1px solid white;
    border-radius: 50%;
    position: relative;
    top: 4px;
}

.buttonSection{
    position: absolute;
    bottom: 20px;
}