@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600;700&display=swap');
@import url('./heading.css');
@import url('./flex.css');
:root{
    --basic: rgba(0, 0, 0, 0.856);
}

* {
    margin : 0 ;
    padding : 0 ;
}

body{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

input {
    font-family: 'Roboto', sans-serif;
}

.bound {
    padding: 0 300px;
}

a:link,
a:visited,
a:hover,
a:active {
    color : var(--basic);
    text-decoration : none;
}