@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('./heading.css');
@import url('./flex.css');
:root{
    --basic: rgba(0, 0, 0, 0.856);
}

* {
    margin : 0 ;
    padding : 0 ;
    box-sizing: border-box;
}

body,html{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    /* letter-spacing: 0.8px; */
}

input {
    font-family: 'Roboto', sans-serif;
}

.bound {
    padding-left:  300px;
    padding-right : 300px;
}

.border-radius {
    border-radius: 20px;
}


