.navContainer{
    height: 116px;
    background-color: rgba(0, 0, 0, 0.279);
    position : fixed;
    top: 0;
    left : 0;
    z-index: 5;
    width : 100%;
    backdrop-filter: blur(5px);
}

.navContainer input{
    width: 600px;
    border : none;
    border-radius: 10px;
    height: 50px;
    padding: 0 20px;
    font-size :16px;
}

.navContainer input:focus{
    outline: none;
}

.logo img{
    height: 44px;
    width :auto;
    object-fit: contain;
}

.navContainer a {
    text-decoration: none;
}

.getProButton:link,
.getProButton:visited{
    color : #F5C518;
    border-bottom : 1px solid #ffffff00;
}

.getProButton:hover,
.getProButton:active{
    border-bottom : 1px solid #F5C518;
}

.links:link,
.links:visited {
    color: rgba(255, 255, 255, 0.933);
    border-bottom : 1px solid #ffffff00;
}

.links:hover,
.links:active {
    border-bottom : 1px solid #ffffffd2;
}

.userIcon {
    background : none;
    border : 1px solid white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.userIcon:hover {
    background: rgba(255, 255, 255, 0.251);
}

.userIcon img{ 
    height: 20px;
    width: 20px;
    color: white;
}