.container {
    padding-top :116px;
    /* padding-bottom :116px; */
    font-size: 15px;
    background: rgb(27, 27, 27);
    color: white;
}

.container a{
    display : block;
}

.container a:link,
.container a:visited {
    text-decoration: none;
    color: white;
    letter-spacing: 0;
}

.container a:hover,
.container a:active{
    text-decoration : underline;
    /* color : blue; */
}

.container a:not(.footerLogo) {
    margin: 10px 0; 
}

.flexContainer {
    padding: 50px 0;
}

.footerHeading,
.footerLogo {
    margin-bottom : 40px;
}

.footerLogo img{
    width :100px;
    object-fit: contain;
}

.flexItem {
    margin-right : 200px;
    min-width: 220px;
}

.socialLinkContainer {
    margin-top : 40px;
}

.socialLinkContainer a img{
    height: 30px;
    background: #0399FA;
    border-radius: 50%;
    margin-right: 10px;
    transition: background 400ms;
}

.socialLinkContainer a img:hover{
    background: #004777;
}

.hr {
    margin: 0px 100px;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgb(105, 105, 105);
}

.copyrightInfo{
    text-align: center;
    padding : 40px 0;
}