.container{
    padding-top : 116px;
    padding-bottom: 100px;
    background: #001625;
}

.container h1 {
    text-align: center;
    color : #0399FA;
    margin-bottom : 80px;
}

.container h1 span {
    color: #F4C518;
}

