.container {
    margin-top : 30px;
}

.textContainer{
    margin-right: 132px;
}

.sliderContainer {
    position : relative;
}

.sliderContainer img{
    height : 613px;
    width : 415px;
    object-fit : contain;
}

.leftButton, 
.rightButton,
.watchLink {
    position : absolute;
}

.leftButton,
.rightButton{
    top: 50%;
    transform: translateY(-50%);
}

.leftButton {
    left : -3%;
}

.rightButton {
    right: -3%;
}

.watchLink {
    bottom: 10px;
    left: 50%;
    transform : translateX(-50%);
    background: blue;
    line-height: 70px;
    width : 286px;
    color: rgba(255, 255, 255, 0.795);
    text-decoration : none;
    text-align: center;
    border-radius : 33px;
}